div {
    /*background-color: skyblue;*/
    float: left;
    margin-left: 4%;
    border-right: 2px solid rgba(255, 0, 0, 0.342);
    padding-right: 2%;
    width: 20%;
}

.horizontal {
    border-top: 1px solid rgba(255, 0, 0, 0.342)
}

.dm {
    display: flex;
}

.m {
    color: rgb(248, 211, 0);
    margin-left: 2%;
    font-weight: 700;
}

.se {
    color: rgba(122, 3, 3, 0.829);
    margin-left: 2%;
    font-weight: 700;
}

.dlp {
    color: purple;
    margin-left: 2%;
    font-weight: 700;
}

.inmobiliario {
    background-color: rgba(122, 3, 3, 0.829);
    color: white;
    border-style: none;
    margin-left: 5%;
}

.legal {
    background-color: purple;
    color: white;
    border-style: none;
    margin-left: 5%;
}

.management {
    background-color: rgb(248, 211, 0);
    color: white;
    border-style: none;
    margin-left: 5%;
}

.marcar {
    margin-top: -3px;
    margin-left: 35%;
}

.marcart {
    margin-top: -3px;
    margin-left: 18%;
}

.image {
    margin-left: 5%;
    margin-top: 2%;
}

.slider {
    margin-left: 5%;
    margin-top: 2%;
}

.tittle {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 18px;
    font-weight: 700;
}

.desc {
    margin-left: 5%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    color: rgba(155, 155, 155, 0.692);
    font-size: 12px;
}

#hora1 {
    margin-top: 14%;
    font-weight: 600;
    margin-left: 45%;
    font-size: 12px;
}

#hora2 {
    margin-top: 14%;
    font-weight: 600;
    margin-left: 45%;
    font-size: 12px;
}

#hora3 {
    margin-top: 14%;
    font-weight: 600;
    margin-left: 45%;
    font-size: 12px;
}

#hora4 {
    margin-top: 14%;
    font-weight: 600;
    margin-left: 45%;
    font-size: 12px;
}